@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  html {
    @apply font-sans text-white;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ant-picker-calendar .ant-picker-panel {
  border-top: 1px solid #555;
}
